.language {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    height: auto;
    background-color: #00674f;
    border: 5px solid #71a4cc;
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
  
  }
  
  .info-header{
      color: #fff;
  }
  
  .my-flex-language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  
  }
  
  .language .btnLogin-popup,
  .language .btnLogin-popup {
    /* relative for setting after */
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin: 20px;
    transition: 0.5s;
  }
  
  .language .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
  }
  
  